.scrollToTop {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 100;

  .scrollToTopButton {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0.8;

    &.icon {
      width: 24px;
      height: 24px;
    }

    &:hover {
      opacity: 1;
      transform: scale(1.1);
    }
  }
}