.bookSearchWrapper {
  margin: 1rem;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  .bookSearch {
    width: 40%;
    height: 40px;
    border: 1px solid #000;
    border-radius: 10px;
    padding-left: 1rem;
    outline: none;
    font: var(--font-m);
  }
}