@import "@/app/styles/variables/variables";

.bookList {
  margin-top: 1rem;
  display: grid;
  width: 70vw;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;

  h1 {
    grid-column: 1/-1;
    text-align: center;
  }

  @include respond-above($breakpoint-largePhones) {
    grid-template-columns: repeat(2, 1fr);
    width: 80vw;
  }

  @include respond-above($breakpoint-tablet) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include respond-above($breakpoint-desktop) {
    grid-template-columns: repeat(4, 1fr);
  }

}