.bookCard {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 10px;
  gap: 10px;
  min-width: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.collapsedBookInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 0;

  p, span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.coverWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 3 / 4;
  border-radius: 10px;
  overflow: hidden;
}

.cover {
  object-fit: cover;
}

.fullBookInfo {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 60px;

  background-color: #fff;
  padding: 10px;
  z-index: 10;

  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}

.descriptionText {
  white-space: normal;
}

.cardButtons {
  margin-top: auto;
  display: flex;
  justify-content: end;
  gap: 10px;
  z-index: 20;

  button {
    position: relative;
    height: 40px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
  }

  .favoriteBtn {
    width: 40px;
  }

  .showMoreBtn {
    width: 100px;
  }
}