.bookCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 10px;
  text-align: start;
  gap: 10px;
  min-width: 0;

  .coverWrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 3 / 4;
  }

  .cover {
    object-fit: cover;
  }

  p, span {
    text-align: start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  button {
    position: relative;
    margin-left: auto;
    width: 40px;
    height: 40px;
    padding: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
  }
}