.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: var(--navBar-height);

  > h2 {
    margin-top: 1rem;
    text-align: center;
    font: var(--font-m);
  }
}

.wrapper {
  display: flex;
  height: calc(100vh - var(--navBar-height));
  justify-content: center;
  align-items: center;
}