.page {
  display: flex;
  min-height: calc(100vh - var(--footer-height) - 1rem);
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding-top: var(--navBar-height);

  > h2 {
    margin-top: 1rem;
    text-align: center;
    font: var(--font-m);
  }
}

.wrapper {
  display: flex;
  padding-top: var(--navBar-height);
  height: calc(100vh - var(--footer-height) - 1rem);
  justify-content: center;
  align-items: center;
}