.navBar {
  height: var(--navBar-height);
  border-bottom: 1px solid #000;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #fff;
  z-index: 100;

  .links {
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    gap: 20px;

    .link {
      text-decoration: none;
      font: var(--font-m);
      color: #000;
      position: relative;
      padding-bottom: 5px;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        width: 0;
        height: 3px;
        background-color: #000;

      }
    }

    .active::after, {
      animation-name: expandFromCenter;
      animation-duration: 0.3s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes expandFromCenter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}