.navBar {
  height: var(--navBar-height);
  border-bottom: 1px solid #000;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .links {
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    gap: 20px;

  }
}