.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper {
  display: flex;
  height: calc(100vh - var(--navBar-height));
  justify-content: center;
  align-items: center;
}