.buttonPanel {
  width: 80vw;
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;

  button {
    width: 100px;
    padding: 8px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
  }

  button:hover {
    background-color: #e5e5e5;
    transition: background-color 0.3s ease;
  }

  .active {
    background-color: #000;
    color: #fff;
  }

  .active:hover {
    background-color: #252525;
    transition: background-color 0.3s ease;
  }
}