body {
  --font-family-main: Roboto, 'Times New Romen', Serif;
  --font-size-m: 24px;
  --font-line-m: 32px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

  --font-size-s: 16px;
  --font-line-s: 24px;
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);

  --navBar-height: 70px;
}